*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: sans-serif;
}

body{
    background-color: rgb(148, 229, 229);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}